
/* .DocSearch-Button-Keys { */
/*   display: none; */
/* } */

/* .flex-logo { */
/*   display: none; */
/* } */

/* .DocSearch-Input { */
/*   margin: 12px 12px 12px 8px; */
/* } */

/* .DocSearch-MagnifierLabel { */
/*   margin: 20px 12px 20px 20px; */
/* } */

html .bok-text-2 {
  color: var(--vp-c-text-light-2);
}

html.dark .bok-text-2 {
  color: var(--vp-c-text-dark-2);
}

.search-text {
  letter-spacing: 0;
}

.content-container {
  margin: 0 !important;
}
